<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>开发TodoList</title>
	<script src="../vueJS/vue.js"></script>
</head>
<body>
	<div id="app">
		<input type="text" v-model="inputValue">
		<button @click="btnSub">提交</button>
		<ul>
			<!-- <li v-for="item in list">{{item}}</li> -->
			<todo-item :content="item" 
						:index="index"
						v-for="(item,index) in list"
						 @delete="handleItemDelete">
				
			</todo-item>
		</ul>
	</div>
	<script>
		/*Vue.component("TodoItem",{
			props:["content"],
			template:"<li>{{content}}</li>"
			})用全局组件开发*/
		var TodoItem = {
			props:["content",'index'],
			template:"<li @click='btnSub' >{{content}}</li>",//局部组件开发
			methods:{
				btnSub:function(){
					this.$emit("delete",this.index);
				}
			}
		}
		var vm = new Vue({

			el:"#app",

			components:{
				TodoItem:TodoItem
			},

			data:{
				list:[],
				inputValue:""
			},

			methods:{
				btnSub:function(){
					this.list.push(this.inputValue),
					this.inputValue = ""
				},
				handleItemDelete:function(index) {
					this.list.splice(index,1)
				}
			}
		})
	</script>
</body>
</html>